## While loop

In [5]:
numbers = [12,46,3,15,28,9]
even = []
odd = []
while len(numbers)>0:
    number = numbers.pop()  ## taking last element in the list
    if(number % 2 == 0):
        even.append(number)
    else:
        odd.append(number) 
print(even)
print(odd)

[28, 46, 12]
[9, 15, 3]

In [6]:
n = int(input('enter the value of n: '))
sum=0
i=1
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

enter the value of n: 10
55

In [7]:
color=['red','green','yellow']
objects=['pen','pencil','paper']
for x in color:
  for y in objects:
    print(x,y)

red pen
red pencil
red paper
green pen
green pencil
green paper
yellow pen
yellow pencil
yellow paper

In [8]:
months=['jan','feb','march','apr','may','june']
for m in months:
  print(m)
  if m=='apr':
    break

jan
feb
march
apr

In [12]:
months=['jan','feb','march','apr','may','june']
for m in months:
    if m=='apr':
        break
    print(m)

jan
feb
march

In [13]:
months=['jan','feb','march','apr','may','june']
for m in months:
    if m=='apr':
        continue
    print(m)

jan
feb
march
may
june

## Built-in Functions

In [14]:
a = -1.5

In [15]:
abs(a)

1.5

In [16]:
b = [12,15,25,67]

In [17]:
min(b)

12

In [18]:
max(b)

67

In [19]:
len(b)

4

In [20]:
c = 2.5

In [21]:
round(c)

2

In [22]:
x = 6

In [25]:
factorial(6)

NameError: name 'factorial' is not defined

In [27]:
import math as m

In [29]:
m.factorial(x)

720

In [31]:
m.ceil(35.6)

36

In [33]:
m.floor(34.6)

34

In [34]:
m.sqrt(64)

8.0

## User Defined functions

In [38]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a/b)

In [41]:
num1=int(input('enter the first value'))
num2=int(input('enter the second value'))
print('please enter the choice: addition/substraction/multiplication/division')
choice=input('enter your choice:(+/-/*//):')
if choice=='+':
    add(num1,num2)
elif choice=='-':
    sub(num1,num2)
elif choice=='*':
    mul(num1,num2)
elif choice=='/':
    div(num1,num2)
else:
    print('wrong choice')

enter the first value3
enter the second value5
please enter the choice: addition/substraction/multiplication/division
enter your choice:(+/-/*//):*
15

In [43]:
def add(n1,n2):
    return(n1+n2)
def sub(n1,n2):
    diff=n1-n2
    return(diff)
def mul(n1,n2):
    print(n1*n2)
def div(n1,n2):
    print(n1/n2)

In [44]:
num1=int(input('enter the first value'))
num2=int(input('enter the second value'))
print('please enter the choice: addition/substraction/multiplication/division')
choice=input('enter your choice:(+/-/*//):')
if choice=='+':
    sum = add(num1,num2)
    print(sum)
elif choice=='-':
    d = sub(num1,num2)
    print(d)
elif choice=='*':
    mul(num1,num2)
elif choice=='/':
    div(num1,num2)
else:
    print('wrong choice')

enter the first value50
enter the second value60
please enter the choice: addition/substraction/multiplication/division
enter your choice:(+/-/*//):+
110

In [46]:
##  importing from another file:

## from calc import add,sub,mul,div

## Data structures in Python

## Lists

In [47]:
list1=['messi','ronaldo','chetri',234,120]

In [48]:
list1

['messi', 'ronaldo', 'chetri', 234, 120]

In [49]:
list1[0]

'messi'

In [50]:
list1[1:4]

['ronaldo', 'chetri', 234]

In [51]:
list1[::2]

['messi', 'chetri', 120]

In [53]:
list1.append('beckam')

In [54]:
list1

['messi', 'ronaldo', 'chetri', 234, 120, 'beckam', 'beckam']

In [55]:
list1.insert(2,'mbappe')

In [56]:
list1

['messi', 'ronaldo', 'mbappe', 'chetri', 234, 120, 'beckam', 'beckam']

In [57]:
list1.insert(4,120)

In [58]:
list1

['messi', 'ronaldo', 'mbappe', 'chetri', 120, 234, 120, 'beckam', 'beckam']

In [59]:
del list1[4]

In [60]:
list1

['messi', 'ronaldo', 'mbappe', 'chetri', 234, 120, 'beckam', 'beckam']

In [61]:
list1.remove('mbappe')

In [62]:
list1

['messi', 'ronaldo', 'chetri', 234, 120, 'beckam', 'beckam']

In [63]:
a=list1.pop()

In [65]:
list1

['messi', 'ronaldo', 'chetri', 234, 120, 'beckam']

## tuple

In [66]:
tup1=('sachin','virat','dhoni',150,200.5)

In [67]:
tup1

('sachin', 'virat', 'dhoni', 150, 200.5)

In [68]:
tup1[2]

'dhoni'

In [69]:
tup1[:3]

('sachin', 'virat', 'dhoni')

In [71]:
tup1[1]='sourav'

TypeError: 'tuple' object does not support item assignment

In [72]:
tup2=(1,2,3,4)

In [73]:
tup3 = tup1+tup2

In [74]:
tup3

('sachin', 'virat', 'dhoni', 150, 200.5, 1, 2, 3, 4)

In [76]:
tup2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [77]:
print(3 in tup2)

True

In [78]:
print(30 in tup2)

False

## Dictionary

In [79]:
student={'name':'priya','age':20,'course':'b.tech','stream':'cse'}

In [80]:
student

{'name': 'priya', 'age': 20, 'course': 'b.tech', 'stream': 'cse'}

In [81]:
student['name']

'priya'

In [82]:
student['subject']

KeyError: 'subject'

In [83]:
student.get('subject')

In [84]:
student.get('subject','subject is not defined here')

'subject is not defined here'

In [85]:
student.get('age','age is not defined here')

20

In [86]:
print(student.keys())

dict_keys(['name', 'age', 'course', 'stream'])

In [87]:
print(student.values())

dict_values(['priya', 20, 'b.tech', 'cse'])

In [88]:
student['stream'] = 'ECE'

In [89]:
student

{'name': 'priya', 'age': 20, 'course': 'b.tech', 'stream': 'ECE'}

In [90]:
student['stream'] = ('ECE','CSE')

In [91]:
student

{'name': 'priya', 'age': 20, 'course': 'b.tech', 'stream': ('ECE', 'CSE')}

In [92]:
student['city'] = 'Mumbai'

In [93]:
student

{'name': 'priya',
 'age': 20,
 'course': 'b.tech',
 'stream': ('ECE', 'CSE'),
 'city': 'Mumbai'}

In [94]:
student['stream'][1]

'CSE'

In [95]:
del student['course']

In [96]:
student

{'name': 'priya', 'age': 20, 'stream': ('ECE', 'CSE'), 'city': 'Mumbai'}

In [100]:
student.pop('age')

20

In [101]:
student.clear()

In [102]:
student

{}

## sets

In [1]:
set1 = {12,13,45,78,98}

In [2]:
set1

{12, 13, 45, 78, 98}

In [3]:
type(set1)

set

In [4]:
set2 = {12,78,45,34,22}

In [5]:
set2

{12, 22, 34, 45, 78}

In [6]:
set2.add(11)

In [7]:
set2

{11, 12, 22, 34, 45, 78}

In [8]:
ls = [133,788,99]

In [9]:
set2.update(ls)

In [10]:
set2

{11, 12, 22, 34, 45, 78, 99, 133, 788}

In [11]:
set2.remove(133)

In [12]:
set2

{11, 12, 22, 34, 45, 78, 99, 788}

In [13]:
set2.discard(22)

In [14]:
set2

{11, 12, 34, 45, 78, 99, 788}

In [15]:
set2.pop()

11

In [16]:
A = {1,2,3,4,5}
B = {5,6,7,8,9}

In [17]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
print(A&B)

{5}

In [19]:
print(A-B)

{1, 2, 3, 4}

## ques 1: accept string value and count each character

In [ ]:
string = input('Enter a string:/n')
for i in string: